name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configurar kubeconfig
        shell: powershell
        run: |
          $path = "$HOME\.kube"
          if (!(Test-Path $path)) { New-Item -ItemType Directory -Force -Path $path | Out-Null }
          [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String("${{ secrets.KUBE_CONFIG }}")) | Out-File "$path\config" -Encoding utf8
          Write-Host "✅ Kubeconfig criado em $path\config"
          kubectl config get-contexts

      - name: Testar conexão com o cluster
        shell: powershell
        run: |
          kubectl cluster-info
          kubectl get nodes

      - name: Aplicar manifests do Kubernetes
        shell: powershell
        run: |
          kubectl apply -f k8s/ --validate=false
          kubectl rollout status deployment/monitor || exit 0
          kubectl rollout status deployment/nginx || exit 0
          kubectl get pods -o wide
